#mark{
	width: 200px;
	height: 500px;
	margin: 0 auto;
	background: url('./img/mark.png') center no-repeat;
}
#mark.ended{
	background: url('./img/bugbug_mark.png') center no-repeat;
}
h1{
	text-align: center;
}
.ko{
	position: relative;
	left: -30%;
	top: 5%;
	transform: rotate(-30deg);
}

#health{
	width: 200px;
	border: 2px solid #000;
	margin: 0 auto 20px auto;
}

#health div{
	height: 20px;
	background: green;
}

#controls{
	width: 120px;
	margin: 0 auto;
}